(
    sensitivity: 0.001,
    key_forward: W,
    key_back: S,
    key_left: A,
    key_right: D,
    key_up: Space,
    key_down: LControl,
    key_sprint: LShift,
    key_jump: Space,
    key_fly: F,
    key_crouch: LControl,
    key_fire: Q,
    key_reload: R,
)